.planet-static-resources {
    h2 {
        float: left;
        margin: 0;
        margin-right: 2em;
        line-height: $base-line-height;
        font-size: 1.1em;
        text-shadow: 1px 1px 2px black;
    }
    img {
        vertical-align: middle;
    }
    ul {
        li {
            float: left;
            margin: 0;
            margin-right: 1em;
            img {
                margin-right: 3px;
            }
        }
    }
}

.planet-list {
    .planet {

        @include grey-box;
        @include outer-container;

        .planet-static-resources {
            @include span-columns(21 of 24);
            @include omega;
            margin-bottom: 1em;
        }

        .planet-image {
            @include span-columns(3 of 24);
            img {
                width: 100px;
                height: 100px;
                display: block;
            }
        }

        .planet-static-resources {
            @include span-columns(21 of 24);
            @include omega;
            margin-bottom: 1em;

            h2 {
                float: left;
                margin: 0;
                margin-right: 2em;
                line-height: $base-line-height;
            }
            img {
                vertical-align: middle;
            }
            ul {
                li {
                    float: left;
                    margin: 0;
                    margin-right: 1em;
                    img {
                        margin-right: 3px;
                    }
                }
            }
        }

        .planet-production-resources {
            @include span-columns(21 of 24);
            @include omega;
            margin-bottom: 1em;

            ul {
                li {
                    float: left;
                    margin: 0;
                    margin-right: 1em;
                    img {
                        margin-right: 3px;
                        vertical-align: middle
                    }
                }
            }
        }

        .planet-production {
            @include span-columns(21 of 24);
            @include omega;
            ul {
                @include outer-container;
                li {
                    @include span-columns(4);
                    @include omega(3n);
                }
            }
        }
    }
}


.planet-view {

    @include clearfix;

    .planet-header {
        @include grey-box;
        @include clearfix;
        margin-bottom: 0.75em;
    }

    .planet-image {
        @include span-columns(5 of 24);
        img {
            display: block;
        }
    }

    .planet-static-resources {
        @include grey-box(0.75em, $mid-grey, 1);
        @include span-columns(24 of 24);
        @include omega;
        margin-bottom: 0.75em;
    }

    .planet-production-resources {
        @include grey-box(0.75em, $mid-grey, 1);
        @include span-columns(19 of 24);
        @include omega;
        margin-bottom: 0.75em;
    }

    ul.planet-menu {
        @include outer-container;
        @include span-columns(19 of 24);
        li {
            display: block;
            @include span-columns(6 of 24);
            @include omega(4n);
            a {
                display: block;
                @include grey-box(0.4em, $mid-grey);
                text-align: center;
                color: white;
                font-size: 1.3em;
                text-shadow: 1px 1px 2px black;
                &:hover {
                    background-color: $light-grey;
                }
            }
        }
    }

    .planet-completed-list {
        @include span-columns(10 of 24);
    }

    .completed-list {
        li {
            padding: 0.5em;
            background: $mid-grey;
            @include clearfix;
            &:nth-child(2n) {
                background: darken($mid-grey, 3%);
            }
        }
        img.built {
            width: 45px;
            height: 45px;
            float: left;
            margin-right: 0.5em;
        }
        .resources {
            text-align: right;
            img {
                margin-left: 0.5em;
            }
        }
    }

    .planet-content {
        @include span-columns(14 of 24);
    }

    .building-queue {
        img {
            width: 28px;
            height: 28px;
            display: inline-block;
            margin-right: 5px;
        }
    }
}
