@mixin grey-box($padding:0.75em, $background:$grey-dark, $opacity:0.9, $border:$grey-light) {
    background: rgba($background, $opacity);
    padding: $padding;
    border: 1px solid $border;
}

@mixin font-heading() {
    font-family: Orbitron, monospace;
}

@mixin font-body() {
    font-family: 'Open Sans', sans-serif;
}
