html {
    width: 100%;
    height: 100%;
}

body {
    background: black url(/images/background.jpg) 50% 50% no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $base-font-color;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

a {
    color: #9ce3ff;

    &:hover {
        background-color: #163a65;
    }
}

img {
    vertical-align: middle;
}

h1,
h2,
h3 {
    font-family: Play, sans-serif;
    text-transform: uppercase;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

.header {
    padding: 1em;

    .left {
        h1 {
            font-size: 45px;
            line-height: 50px;
            color: #aaa;
            text-shadow: 1px 1px 0 white;
            margin: 0;
            text-transform: none;

            span {
                color: white;
                text-shadow: 1px 1px 0 black;
            }
        }

        h2 {
            font-size: 12px;
            color: #ccc;
            padding-left: 250px;
            font-weight: normal;
            margin: 0;
            text-transform: none;
        }
    }

    .right {
        text-align: right;
    }
}


.main-menu {
    margin: 0;
    margin-top: 30px;
    padding: 0;
    height: 38px;
    position: relative;

    li {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
        float: left;
        margin-right: -22px;
        height: 38px;

        a {
            display: block;
            height: 38px;
            width: 152px;
            background: url(/images/home2.gif) top left no-repeat;
            text-indent: -999em;

            &:hover {
                background-position: -212px 0;
            }
        }

        &.home {
            width: 130px;

            a {
                width: 130px;
            }
        }

        &.planets {
            a {
                background-image: url(/images/planets.gif);
            }
        }

        &.fleets {
            a {
                background-image: url(/images/fleets.gif);
            }
        }

        &.navigation {
            a {
                background-image: url(/images/navigation.gif);
            }
        }

        &.research {
            width: 154px;

            a {
                width: 154px;
                background-image: url(/images/research.gif);
            }
        }

        &.alliances {
            width: 154px;

            a {
                width: 154px;
                background-image: url(/images/alliances.gif);
            }
        }

        &.active a {
            background-position: -424px 0;
            z-index: 999;
            position: relative;
        }
    }
}

.resource-metal {
    color: white;
}

.resource-mineral {
    color: #e94021;
}

.resource-food {
    color: #73aa35;
}

.resource-energy {
    color: #4884d8;
}

.headbar,
.footbar {
    background: rgba(50, 50, 50, 0.9) url(/images/headbar.png) -1px 0 repeat-x;
    border: 1px solid #404040;
    border-top: 0;
    margin-bottom: 10px;
    min-height: 35px;
}

.footbar {
    margin-top: 0.75em;
}

table.collapsed {
    border: none;
    margin: 0;
    border-collapse: collapsed;
    table-layout: auto;

    td,
    th {
        border: none;
        padding: 0.22em;
    }
}

table.striped {
    table-layout: auto;
    margin: 0;

    th,
    td {
        padding: 0.3em 0.8em;
        line-height: 28px;

        &:first-child {
            padding-left: 0.5em;
        }
    }

    th {
        background: linear-gradient(darken($dark-grey, 5%), $mid-grey);
        border-bottom: 2px solid $light-grey;
    }

    td {
        background-color: $mid-grey;
    }

    tr:nth-child(2n) {
        td {
            background-color: darken($mid-grey, 3%);
        }
    }
}

.box-title {
    background: rgba(50, 50, 50, 0.9) url(/images/headbar.png) -1px 0 repeat-x;
    padding: 0.5em 0.75em;
    border: 1px solid #404040;
    margin-bottom: 0;
    font-size: 1.1em;
}

.box-content {
    @include grey-box;

    border-top: none;
}
