@import "~bulma/sass/utilities/initial-variables";

// Text colours
$text: $white;
$text-light: $white-ter !default;
$text-strong: $white !default;
$title-color: $white;
$label-color: $white;

// Other colours
$primary: $orange;

// Borders and backgrounds
$border: $grey;
$background: $grey-dark;
$modal-card-body-background-color: $grey-darker;
