@import "~bulma/sass/utilities/initial-variables";

// Spacing
$base-spacing: 1rem;
$content-heading-weight: normal;

// Other colours
$blue: #6ddbf5;
$yellow: #efce3d;
$grey-darker:  hsl(0, 0%, 12%);
$grey-dark:    hsl(0, 0%, 15%);
$grey:         hsl(0, 0%, 18%);
$grey-light:   hsl(0, 0%, 40%);
$grey-lighter: hsl(0, 0%, 80%);

// Primary colours
$primary: $grey-darker;

// Borders and backgrounds
$border: $grey;
$background: $grey;

// Text colours
$text: $white;
$text-light: $white-ter !default;
$text-strong: $grey-dark !default;
$title-color: $grey-dark;
$label-color: $white;
$link: $white;

// Corners
$radius: 0;
$radius-large: 0;
$radius-rounded: 0;

// Modals
$modal-background-background-color: transparent;
$modal-card-head-background-color: $yellow;
$modal-card-head-border-bottom: 1px solid $border;
$modal-card-body-background-color: $grey;

$modal-card-foot-border-top: 1px solid $border;
$modal-card-foot-background-color: $grey-dark;

// Forms
$input-background-color: rgba($white, 0.2);
$input-border-color: $grey;

// Cards
$card-background-color: $background;
$card-header-background-color: $grey-dark;
$card-header-padding: $base-spacing;
//$card-header-weight: $weight-bold !default
//
//$card-content-background-color: transparent !default
//$card-content-padding: 1.5rem !default
//
//$card-footer-background-color: transparent !default
$card-footer-border-top: 1px solid none;
$card-footer-padding: $base-spacing;
