@charset "utf-8";

// Fonts
@import '~@sweetalert2/theme-dark/dark.scss';


// Bulma stuff
@import "variables";
@import "~bulma/bulma.sass";

// Helpers
@import "mixins";
@import "helpers";

// Components
@import "components/border-box";
@import "components/modal";

// Template styles
@import "template/shared";
@import "template/main-menu";

// Planets styles
@import "planets/menu";
@import "planets/planet";
