@charset "utf-8";

// Fonts
@import "~font-awesome/scss/font-awesome";
@import '~@sweetalert2/theme-dark/dark.scss';


// Bulma stuff
@import "variables";
@import "~bulma/bulma.sass";

// Helpers
@import "mixins";
@import "helpers";

// Template styles
@import "template/shared";
@import "template/main-menu";
@import "template/planets-menu";

// Components
@import "components/border-box";

// Page styles
@import "pages/planets";
