nav.main-menu {
    @include font-heading;

    background: $background;
    border-style: solid;
    border-width: 0;
    border-image:
        repeating-linear-gradient(
            -45deg,
            $blue,
            $blue 5px,
            $white 5px,
            $white 10px
        ) 10;
    border-bottom-width: 5px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 0 $base-spacing;
    position: fixed;
    width: 100vw;

    ul {
        display: flex;
        justify-content: space-around;
        align-items: stretch;
    }

    li {
        display: flex;
        align-items: stretch;
    }

    a {
        padding: $base-spacing / 2;
        display: flex;
        align-items: center;
        color: $white;
    }

    span {
        display: block;
    }

    h1 {
        margin-right: $base-spacing * 2;
    }
}
