.planets-menu {
    width: 100px;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    background: $background;
    overflow: scroll;
    padding-top: $base-spacing;
    justify-content: center;

    @include border(right, 2);

    .planet {
        text-align: center;
        font-size: 0.8em;
        padding: $base-spacing/2 $base-spacing;
    }

    img {
        display: block;
        width: 100px;
        height: auto;
    }
}
